---
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="dovaldev.com, Hola Soy Juan A. Doval"
	description="Mi blog personal con proyectos e información sobre programación creadas para todo el mundo">
	<main>
		
	</main>
</Layout>

<style>
	
</style>
